* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.not-found-msg {
    display: inline-block;
    position: relative;
    left: 10%;
    top: 5em;
    font-size: 1.25em;
}

.fav-btn {
    width: 3em;
    height: 3em;
    position: absolute;
    right: 10%;
    top: 2.5em;
    background: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-btn:hover {
    background-color: rgba(248, 145, 145, 0.5);
    transition: 0.5s;
}

.heart {
    background: url("../img/heart-filled.svg");
}

.static-icon {
    position: absolute;
    left: 10%;
    top: 4em;
}

.joke {
    font-family: Roboto,sans-serif;
    width: 50%;
    height: fit-content;
    position: relative;
    left: 10%;
    top: 5em;
    background-color: var(--lightgrey);
    border-radius: 20px;
    padding-bottom: 3em;
    margin-bottom: 1.25em;
}

.joke-id {
    position: relative;
    width: 75%;
    left: 20%;
    top: 6em;
    font-size: .625em;
    color: var(--darkgrey);
}

.joke-id a {
    color: #7291FF;
}

.link-icon {
    display: inline-block;
    margin-bottom: -0.2em;
    padding-left: .5em;
}

.joke-text {
    width: 75%;
    position: relative;
    left: 20%;
    top: 3.5em;
    font-size: 1.125em;
}

.joke-last-update {
    display: inline-block;
    position: relative;
    left: 20%;
    top: 6em;
    margin: 3em 0 5em 0;
    font-size: .625em;
    color: var(--darkgrey);
}

.joke-category {
    width: 15%;
    position: absolute;
    left: 80%;
    bottom: 2em;
    padding: 1em;
    background-color: #fff;
    border-radius: 6px;
    font-size: .625em;
    line-height: .875em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.joke-modified {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
    .joke {
        width: 80vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .joke-modified {
        width: 80%;
    }
}